@page
@model WebApplication1.Areas.Product.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Cost">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Cost">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Cost">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
